<body>
    <div class="container">
      <header class="header">
        <nav class="navigation">
          <li class="navigation__items" >
            <a href="/" class="<%= path === '/'? 'active':'' %>">HOME</a>
          </li>
          <li class="navigation__items" >
            <a href="/signup" class="<%= path === '/signup'? 'active':'' %>">signup</a>
          </li>
          <li class="navigation__items" >
            <a href="/login" class="<%= path === '/login'? 'active':'' %>">login</a>
          </li>
          <% if(isAuth){ %>
          <li class="navigation__items" >
            <a href="/add-product"  class="<%= path === '/add-product'? 'active':'' %>">add-product</a>
          </li>
          <li class="navigation__items" >
            <a href="/admin"  class="<%= path === '/admin'? 'active':'' %>">admin</a>
          </li>
          <% } %>
        </nav>
      </header>